.sidebar {
  background-color: black;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 5rem;
  &:hover {
    background-color: #2f2f2f;
    width: 15rem;
  }
  &__content {
    // &:hover{
    //   background-color: #f5f5f5;
    // }
    // background-color: black;
    // height: 100vh;
    // position: fixed;
    // top: 0;
    // width: 5rem;

    &__hamburger {
      display: grid;
      margin-bottom: 2rem;
      &__icons {
        color: white;
        height: 3rem;
        margin-left: 1.5rem;
        width: 2rem;
      }
    }
    &__menuIcon {
      color: white;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &__item {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        &__title {
          display: none;
        }
        svg {
          height: 2rem;
          width: 2rem;
          margin-left: 1.5rem;
        }
      }
      &:hover{
        &__item {
          &__title {
            display: block;
          }
        }
      }
    }
  }
}
