/*Color Palette*/
$colorOrange: #f1952b;
$colorDark: #2b2828;
$colorWhite: #d8d8d8;
$colorGrace1: #3b3b3b;
$colorGrace2: #313131;
$colorGrace3: #2b2828;
$colorRedDark: #290d17;

/* Spinner Palette*/
$colorSpinner1: #ff9900;
$colorSpinner2: #ffebcd;
$colorSpinner3: #e45656;
$colorBackground: rgba(41, 13, 23, 0.8);

/* Navbar Color */
$colorNavbar: #252831;